<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/main.js"></script>
    <title>Vue基础之模板绚烂,即怎么画页面</title>
</head>

<body>
    <!-- template 下 div块 -->
    <div>
        <div slot="header" class="clearfix">
            <el-collapse v-model="activeNames">
                <el-collapse-item name="1">
                    <template slot="title">
                        <span style="font-weight:bold;font-size:14px;padding-left:15px;">查询条件Bak</span>
                    </template>
                    <el-form label-width="100px">
                        <el-row>
                            <el-col :span="7">
                                <el-form-item label="管理方编号Bak" style="font-weight:bold;">
                                    <el-input v-model="comAdminCode" style="width:95%;" placeholder="请输入" size="small">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="7">
                                <el-form-item label="管理方名称" style="font-weight:bold;">
                                    <el-input v-model="comAdminName" style="width:95%;" placeholder="请输入" size="small">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="7">
                                <el-form-item label="管理方状态" style="font-weight:bold;">
                                    <el-select v-model="Status" clearable filterable placeholder="请选择管理方状态" size="small"
                                        style="width:95%;">
                                        <el-option v-for="item in StatusTab" :key="item.enumValue" :label="item.cnText"
                                            :value="item.enumValue" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3" align="right">
                                <el-button type="primary" size="small" @click="search">查询</el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-collapse-item>
            </el-collapse>
        </div>
        <!-- 搜索表单end -->
        <hr />
        <br />
        <el-row>
            <el-col :span="24" align="right">
                <el-button type="primary" size="small" @click="AddComAdmin">新增管理方</el-button>
            </el-col>
        </el-row>
        <br />
        <el-row>
            <el-col align="center">
                <el-table :data="tableData" :stripe="true" border style="width: 100%"
                    :header-cell-style="{background:'#fafafa'}" v-loading="loading" element-loading-text="列表加载中">
                    <el-table-column label="管理方编号" align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ scope.row.comAdminCode }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="管理方名称" show-overflow-tooltip align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ scope.row.comAdminName }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="管理方类别" align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ scope.row.comAdminTypeName }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="创建人" align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ scope.row.createdName }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="创建时间" align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ $dateFormat(scope.row.createdTime) }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="管理方状态" align="center">
                        <template slot-scope="scope">
                            <span style="margin-left: 0px">{{ scope.row.statusName }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button size="mini" plain type="primary" @click="View(scope.row)">详情</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <el-row>
            <div style="text-align:center;background:#fff;padding:30px 0;">
                <el-pagination :current-page.sync="currentPage" :page-size="10" :total="total" background
                    layout="total, prev, pager, next" @size-change="handleSizeChange"
                    @current-change="handleCurrentChange" />
            </div>
        </el-row>
    </div>
    <hr />
    <!--新增管理方对话框 begin -->
    <el-dialog :visible.sync="ComAdminVisible" style="font-weight:bold;" :close-on-click-modal="false" title="新增管理方"
        width="500px" append-to-body>
        <el-row>
            <el-form :inline="true" :model="ruleForm" ref="ruleForm" label-width="100px" :rules="formrule">
                <el-form-item label="管理方名称" style="font-weight:bold;" prop="AddcomAdminName">
                    <el-input v-model="ruleForm.AddcomAdminName" placeholder="请输入管理方名称" size="small"
                        style="width:300px;"></el-input>
                </el-form-item>
                <el-form-item label="管理方来源" style="font-weight:bold;" prop="Source">
                    <el-select v-model="ruleForm.Source" clearable filterable placeholder="请选择管理方来源" size="small"
                        style="width:300px;">
                        <el-option v-for="item in SourceTab" :key="item.itemValue" :label="item.itemText"
                            :value="item.itemValue" />
                    </el-select>
                </el-form-item>
                <el-form-item label="管理方类型" style="font-weight:bold;" prop="ComAdminType">
                    <el-select v-model="ruleForm.ComAdminType" clearable filterable placeholder="请选择管理方类型" size="small"
                        style="width:300px;">
                        <el-option v-for="item in TypeTab" :key="item.enumValue" :label="item.cnText"
                            :value="item.enumValue" />
                    </el-select>
                </el-form-item>
                <el-form-item label="其他名称" style="font-weight:bold;width:100%;">
                    <el-input v-model="OtherName" placeholder="请输入其他名称" size="small" style="width:300px;"></el-input>
                </el-form-item>
                <!--<el-form-item label="知名产品" style="font-weight:bold;width:100%;">
              <el-input  v-model="FamousProduct"  placeholder="请输入知名产品" size="small" style="width:300px;"></el-input>
          </el-form-item>
           <el-form-item label="是否500强" style="font-weight:bold;width:100%;">
            <el-switch  v-model="IsFiveHundred"  active-color="#13ce66"></el-switch>
          </el-form-item>
          <el-form-item label="母公司国家" style="font-weight:bold;width:100%;">
                      <el-select v-model="CountryCode" clearable filterable   placeholder="请选择母公司国家"  size="small" style="width:300px;">
                        <el-option v-for="item in CountryTab" :key="item.countryCode" :label="item.countryName" :value="item.countryCode"/>
                      </el-select>
            </el-form-item>-->
                <el-form-item label="备注" style="font-weight:bold;width:100%;">
                    <el-input type="textarea" :rows="4" placeholder="请输入备注" style="width:300px;" v-model="Remark">
                    </el-input>
                </el-form-item>
            </el-form>
        </el-row>
        <el-row>
            <el-col :span="24">
                <hr style="border:0.5px #dcdee2 solid;width:100%;align:center;" />
            </el-col>
        </el-row>
        <el-row>
            <el-col style="text-align:center;">
                <br />
                <el-button type="primary" size="medium" @click="submitForm('ruleForm')">保存</el-button>
            </el-col>
        </el-row>
    </el-dialog>






</body>

</html>